<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<script src="/js/angular.js"></script>
<script src="/js/cytoscape.js"></script>
<script src="/js/main.js"></script>

<body>
<h1>Monitor</h1>
<div ng-app="main_app" ng-controller="main_controller">
    <div class="container">
        <div class="row">
            <div id="form-col" class="col-xs-4">
                <fieldset>
                    <legend>Nodes</legend>
                    <div id="node-id-form-group" class="form-group">
                        <label>Node ID</label>
                        <input type="text"
                               id="node_id"
                               name="node_id"
                               class="form-control"
                               placeholder=""
                               ng-model="node_form_data.node_id"
                               disabled>
                    </div>
                    <div id="node-name-form-group" class="form-group">
                        <label>Node Name</label>
                        <input type="text"
                               id="node_name"
                               name="node_name"
                               class="form-control"
                               placeholder=""
                               ng-model="node_form_data.name">
                    </div>
                    <div id="node-desc-form-group" class="form-group">
                        <label>Node Description</label>
                        <input type="text"
                               id="node_desc"
                               name="node_desc"
                               class="form-control"
                               placeholder=""
                               ng-model="node_form_data.description">
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button"
                                ng-click="create_node_btn_click()"
                                class="btn btn-success">Create Node
                        </button>
                        <button type="button"
                                ng-click="update_node_btn_click()"
                                class="btn btn-secondary">Update Node
                        </button>
                        <button type="button" class="btn btn-danger"
                                ng-click="delete_node_btn_click()">
                            Delete Node
                        </button>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Edges</legend>
                    <div id="edge-id-form-group" class="form-group">
                        <label>Edge ID</label>
                        <input type="text"
                               name="edge_id"
                               class="form-control"
                               placeholder=""
                               ng-model="edge_form_data.edge_id"
                               disabled>
                    </div>
                    <div id="edge-name-form-group" class="form-group">
                        <label for="edge">Edge Name</label>
                        <input type="text"
                               name="edge"
                               id="edge"
                               class="form-control"
                               ng-model="edge_form_data.edge_name">
                    </div>
                    <div id="edge-desc-form-group" class="form-group">
                        <label for="edge_description">Edge
                            Description</label>
                        <input type="text"
                               name="edge_description"
                               id="edge_description"
                               class="form-control"
                               ng-model="edge_form_data.edge_description">
                    </div>
                    <div id="source-node-id-form-group" class="form-group">
                        <label for="edge_source">Source</label>
                        <input type="text"
                               name="edge_source"
                               id="edge_source"
                               class="form-control"
                               ng-model="edge_form_data.edge_source"
                               disabled>
                    </div>
                    <div id="source-name-form-group" class="form-group">
                        <label for="source_name">Source Name</label>
                        <input type="text"
                               name="source_name"
                               id="source_name"
                               class="form-control"
                               ng-model="edge_form_data.source_name">
                    </div>
                    <div id="source-desc-form-group" class="form-group">
                        <label for="source_description">Source
                            Description</label>
                        <input type="text"
                               name="source_description"
                               id="source_description"
                               class="form-control"
                               ng-model="edge_form_data.source_description">
                    </div>
                    <div id="target-node-id-form-group" class="form-group">
                        <label for="edge_target">Target</label>
                        <input type="text"
                               name="edge_target"
                               id="edge_target"
                               class="form-control"
                               ng-model="edge_form_data.edge_target"
                               disabled>
                    </div>
                    <div id="target-name-form-group" class="form-group">
                        <label for="target_name">Target Name</label>
                        <input type="text"
                               name="target_name"
                               id="target_name"
                               class="form-control"
                               ng-model="edge_form_data.target_name">
                    </div>
                    <div id="target-desc-form-group" class="form-group">
                        <label for="target_description">Target
                            Description</label>
                        <input type="text"
                               name="target_description"
                               id="target_description"
                               class="form-control"
                               ng-model="edge_form_data.target_description">
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button"
                                ng-click="create_edge_btn_click()"
                                class="btn btn-success">Create Edge
                        </button>
                        <button type="button"
                                ng-click="update_edge_btn_click()"
                                class="btn btn-secondary">Update Edge
                        </button>
                        <button type="button"
                                ng-click="delete_edge_btn_click()"
                                class="btn btn-danger">Delete Edge
                        </button>
                    </div>
                </fieldset>
                <!-- edge targets -->
                <!--<div id="edge-target-group" class="form-group">-->
                <!--<label for="edge_targets">Edge Targets</label>-->
                <!--<select name="edge_targets"-->
                <!--class="form-control"-->
                <!--multiple-->
                <!--ng-model="node_form_data.selected_nodes"-->
                <!--ng-options="node.data.id for node in nodes track by node.data.id">-->
                <!--</select>-->
                <!--</div>-->
            </div>
            <div id="graph-col" class="col-xs-8">
                <div class="cy" id="cy"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>